@import "../assets/font/fira_code.css";
:host {
  font-family: "Fira Code", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
